@charset "UTF-8";
/* 全体 */
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 16px * 62.5% = 10px 1remの基準を10pxにする*/
  width: 100%;

}

body {
  background-color: #fff;
  color: #333; /* RGB */
  font-family: "Hiragino Sans", sans-serif;/* 基本のフォントファミリー */
  font-weight: 600;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 1;
  text-align: left;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}



/* --------------------------------------
TOPセクション
-----------------------------------------*/
.top {
  background-image: url(../img/top_bg.png);
  position: relative;
  background-size:cover ;
  background-position: top;
  background-repeat: no-repeat;
}

.content {
  max-width: 1042px;
  width: 100%;
  margin: 0 auto;
}

.top-pickup {
  position: absolute;
  top: 2rem;
}

.top-pickup h1 {
  color: #01155D;
  font-family: "hiragino-mincho-pron", serif;
  font-weight: 600;
  font-style: normal;
  text-shadow: 0 0 1px #01155D;
  font-size: 3rem;
  line-height: 1.4em;
}

.span__fontsize48 {
  font-size: 4.8rem;
}

.span__fontsize44 {
  font-size: 4.4rem;
}

.span__fontsize40 {
  font-size: 4rem;
}

.span__fontsize38 {
  font-size: 3.8rem;
}

.span__fontsize34 {
  font-size: 3.4rem;
}

.span__fontsize32 {
  font-size: 3.2rem;
}


.top-area1 {
  text-align: center;
  padding-top: 10%;
  margin-bottom: 6%;
}

.top-area1-logo {
  margin-bottom: 4rem;
}

.top-area1 p {
  text-align: center;
  color:#fff;
  font-family: "hiragino-mincho-pron", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 3rem;
}

.top-area2 p {
  padding-bottom: 10rem;
}

.top-area2 p {
  text-align: center;
  color:#fff;
  font-size: 4.6rem;
  line-height: 1.3em;
  letter-spacing: 0.1em;
}

.top-area2 span {
  background-color: #E6CC84;
  font-size: 6.2rem;
  line-height: 1.7;
  margin-right: 1rem;
  color: #262626;
  vertical-align: middle;
  padding: 0 1rem;
}

.dots {
  background-image: radial-gradient(circle at center, #fff 20%, transparent 20%); /* 点の色とサイズ調整 */
  background-position: top right; /* 点の位置 */
  background-repeat: repeat-x; /* 横方向に繰り返し */
  background-size: 1em 0.3em; /* 点の間隔とサイズ調整 */
  padding-top: .4em; /* 縦方向の位置調整 */
}

.top-post {
  background-image: url(../img/Congratulations_bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem 0;
}

.top-post p {
  text-align: center;
  color: #01155D;
  text-shadow: 0 0 1px #01155D;
  font-size: 6rem;
  font-family: "hiragino-mincho-pron", serif;
  font-weight: 600;
  font-style: normal;
}

/* --------------------------------------
動画セクション
-----------------------------------------*/

.video {
  background-image: url(../img/video_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding: 7% 0;
}

.youtube {
  width: 100%;
  max-width: 1042px;
  aspect-ratio: 16 / 9;
  margin: 0 auto;
}
.youtube iframe {
  width: 100%;
  height: 100%;
}

.video-post {
  background-image: url(../img/message-top_bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem 0;
}

.video-post p {
  text-align: center;
  color: #01155D;
  text-shadow: 0 0 1px #01155D;
  font-size: 4.8rem;
  font-family: "hiragino-mincho-pron", serif;
  font-weight: 600;
  font-style: normal;
  line-height: 1.2;
}



/* --------------------------------------
メッセージセクション
-----------------------------------------*/

.Congratulations {
  background-image: url(../img/message_bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 7rem 0 14rem 0;
}

/* --------------------------------------
メッセージボックス（共通）
-----------------------------------------*/

.message-box {
  margin: 0 auto;
  width: 100%;
  max-width: 1042px;
  background-color: #fff;
  padding: 10rem 0;
}

.message-box__inner {
  margin: 0 auto;
  width: 90%;
  text-align: center;
  background-image: linear-gradient(180deg, #ccc 1px, transparent 1px); /* 罫線の色と太さ  */
  background-size: 100% 2.2em; /* 行の高さ */
  line-height: 2.2em; /* 文字の高さ */
  padding-bottom: 1px; /* 最終行の下にも罫線を引く */
  background-position: 0 2.09em; /* 上部の罫線を下にずらす */

}

.message-box__inner p {
  font-weight: normal;
}

.font-color__red {
  color: #C92C2C;
}


/* --------------------------------------
罠セクション1
-----------------------------------------*/
.trap1-post {
  background-image: url(../img/trap1-top_bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0;
}

.trap1 {
  background-image: url(../img/trap1_bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 7rem 0 14rem 0;
}

.trap1-post p {
  text-align: center;
  color: #fff;
  font-size: 4rem;
  line-height: 1.2;
}

.trap1-post-p__fix {
  font-size: 5.6rem !important; 
  color: #E6CC84 !important;
  margin-bottom: 3rem;
}

/* --------------------------------------
罠セクション2
-----------------------------------------*/
.trap2-post {
  background-image: url(../img/trap1-top_bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0;
}

.trap2 {
  background-image: url(../img/trap2_bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 7rem 0 14rem 0;
}

.trap2-post p {
  text-align: center;
  color: #fff;
  font-size: 4rem;
  line-height: 1.2;
}

.trap2-post-p__fix {
  font-size: 5.6rem !important; 
  color: #E6CC84 !important;
  margin-bottom: 3rem;
}


/* --------------------------------------
罠セクション3
-----------------------------------------*/
.trap3-post {
  background-image: url(../img/trap1-top_bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0;
}

.trap3 {
  background-image: url(../img/trap3_bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 7rem 0 14rem 0;
}

.trap3-post p {
  text-align: center;
  color: #fff;
  font-size: 4rem;
  line-height: 1.2;
}

.trap3-post-p__margin {
  margin-bottom: 3rem;
}

.trap3-post-p__fontsize48 {
  font-size: 4.8rem !important;
}

.trap3-post-p__fontsize44 {
  font-size: 4.4rem !important;
}

.trap3-post-p__fontsize40 {
  font-size: 4rem !important;
}

.trap3-post-p__fontsize38 {
  font-size: 3.8rem !important;
}

.trap3-post-p__color {
  color: #E6CC84 !important;
}

.trap3-post-span__color {
  color: #fff !important;
}

/* --------------------------------------
誕生セクション
-----------------------------------------*/
.born-post {
  background-image: url(../img/trap1-top_bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0;
}

.born {
  background-image: url(../img/born_bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 7rem 0 14rem 0;
}

.born-post p {
  text-align: center;
  color: #fff;
  font-size: 4.8rem;
  line-height: 1.2;
}

.born-post-p__margin {
  margin-bottom: 1rem;
}

.born-post-span__size {
  font-size: 5.6rem !important; 
}

.born-post-span__color {
  color: #E6CC84 !important;
}

/* --------------------------------------
参加費セクション
-----------------------------------------*/
.chance-post {
  background-image: url(../img/money-top_bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10rem 0;
}

.chance {
  background-image: url(../img/chance_bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 7rem 0 14rem 0;
}

.chance-post p {
  text-align: center;
  color: #DEC44C;
  line-height: 1.2;
  text-shadow: 0 0 1px #DEC44C;
  font-family: "hiragino-mincho-pron", serif;
  font-weight: 600;
  font-style: normal;
}

.chance-post-span__size44 {
  font-size: 4.4rem !important; 
}

.chance-post-p1 {
  font-size: 4.6rem;
  margin-bottom: 1rem;
}

.chance-post-p2 {
  font-size: 5.6rem;
}



